// Navigation
// ===

// Social Link
// ---

.m-navigation__social-link {
    display: block;

    & + & {
        margin-left: $unit*3;
    }
}

// Copyright
// ---

.m-navigation__copyright {
    color: $neutral-40;
    font-size: $small-font-size;
    line-height: $font-size;
    text-align: center;
}
