// Inline Loader Pulse Animations
// ===

@keyframes inline-loader-pulse {
    40% {
        opacity: 1;

        transform: scale(1);
    }

    0%,
    80%,
    100% {
        opacity: 0;

        transform: scale(0);
    }
}
