// Slide Animations
// ===

// Slide down
// ---

@keyframes slide-down {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}


// Slide up
// ---

@keyframes slide-up {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);
    }
}
