// Visibility Animations
// ===

// Show
// ---

@keyframes visibility-show {
    0% {
        opacity: 0;

        transform: scaleY(0);
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;

        transform: scaleY(1);
    }
}


// Hide
// ---

@keyframes visibility-hide {
    0% {
        opacity: 1;
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        opacity: 0;

        transform: scaleY(0);
    }
}
