// List Tile Theme
// ===

// Primary
// ---
//
// 1. Slightly larger than standard font size, at 15px

.pw-list-tile__primary {
    font-size: $font-size + 1; // 1
}


// Content
// ---

.pw-list-tile__content {
    padding: $unit $unit*1.5;
}


// Action
// ---

.pw-list-tile__action {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $tap-size;
    min-height: $tap-size;
}
