// List Theme
// ===

.pw-list {
    // @TODO: Make this a pw-list sub-component className
    > :not(:first-of-type),
    > .pw-list-tile:not(:first-of-type) {
        border-top: 1px solid $neutral-15;
    }

    &.pw--borderless {
        > :not(:first-of-type) {
            margin-top: $unit;
            border-top: 0;
        }
    }
}
