// Password Input Theme
// ===

.pw-password-input {
    width: 100%;
}


// Password Input Toggle
// ---
//
// 1. to override SDK base style
.pw-password-input__toggle {
    padding: 0 !important; // 1

    color: $brand-color;
    font-weight: $semi-bold-font-weight;
    font-size: $font-size;
    text-transform: uppercase;
}
