{
  "presets": [
    ["es2015", {"modules": false}],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-assign",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": false
    }]
  ],
  "ignore": [
    "*/vendor/astro-client.js"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015",
        "react"
      ],
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
